{% extends 'vroom/components/base.html' %}

{% load static %}

{% block title %}Vroom{% endblock %}

{% block extraclass %}landing{% endblock %}

{% block content %}

    <section class="container mx-auto mt-4">

        <div class="row">
            <div class=" ">
                <h1>Bienvenido al proyecto classVRroom</h1>
                <p class="text-justify"><b>classVRroom</b> es un entorno LMS (Learning Management System) adaptado específicamente para aplicaciones inmersivas 3D con dispositivos de realidad virtual. Dentro del proyecto VR Salud se ha desarrollado dicha aplicación inmersiva para que el alumando de Auxiliar de Enfermería ejercite su higiene postural a la vez que se entrena en las movilizaciones de pacientes.</p>
            </div>
        </div>

    </section>

    <section class="container mx-auto bg-light">
        <div class="row align-items-center py-4">
            <div class="col-6  p-l">
                <p class="text-justify">El proyecto VR Salud está enmarcado en los programas de innovación en la FP del Ministerio de Educación y Formación Profesional. El software <b>classVRroom</b> ha sido desarrollado por el Institut Esteve Terradas i Illa de Cornellà de Llobregat.</p>

                    Para mas información se puede visitar:
                <ul>
                    <li><a href="http://esteveterradas.cat">Institut Esteve Terradas i Illa</a></li>
                    <li><a href="http://ergonomiadelcuidador.es">www.ergonomiadelcuidador.es</a></li>
                    <li><a href="http://github.com/AWS2/classVRroom">Repositorio Github de classVRroom</a></li>
                </ul>
                {% if user.is_authenticated %}
                    <span class="my-3">
                    Bienvenido de nuevo {{user}}
                    </span>
                {% else %}
                    <a class="btn btn-primary my-3" href="{% url 'login' %}" role="button">Iniciar sesión</a>
                {% endif %}
            </div>
            <div class="col-6"><img src="{% static 'assets/img/movilizacion1.png' %}" alt=""></div>
        </div>
    </section>




{% endblock %}